body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

.settings-section {
  display: flex;
  justify-content: space-between;
}

.settings-section label {
  font-weight: 700;
  font-size: 1.2rem;
}

.settings-section select {
  width: 2rem;
}

.rules-section {
  border: 1px solid #444;
  background-color: powderblue;
  padding: 0.5rem;
  font-size: small;
}

.rules-section summary {
  cursor: pointer;
}

.rules-section ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: decimal;
}
.rules-section li {
  margin-left: 1rem;
  width: calc(665px - 2rem);
}

header button {
  padding: 1rem;
}

header button:active {
  transform: scale(.98);
}

h1 {
  text-align: center;
}

h1 .header-sprite {
  display: inline-block;
  height: 1em;
  vertical-align: middle;
}

table {
  margin-bottom: 15px;
}

td {
  border: 2px solid black;
  width: 125px;
  height: 125px;
  cursor: pointer;
}

td:hover {
  background: aliceblue;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.marked {
  background: bisque;
}

.marked:hover {
  background: burlywood;
}

button {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid black;
}

.game-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.seed-label {
  font-size: small;
}

.marked.bingo {
  background-color: lightgreen;
}

.error {
  padding: .5rem;
  border: 2px solid red;
  background-color: #ffa0a0;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  td {
    width: 162px;
  }

  body {
    font-size: 1.4rem;
    padding-top: 5rem;
  }

  span {
    font-size: 1.6rem;
    padding: 0 9px;
  }

  button {
    font-size: 2rem;
    padding: 1rem .5rem;
  }

  .settings-section label {
    font-size: 2rem;
  }

  .settings-section select {
    width: 4rem;
    font-size: 2rem;
  }

  .rules-section li {
    width: 810px;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {  
  background-color: #422e59;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.rounded-button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
}

#generateBoardBtn {
  display: block;
  margin: 20px auto;
  /* Center the button horizontally with top margin for spacing */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #9D0B9D;
  /* Blue */
  color: white;
  border: none;
  outline: none;
  border-radius: 0;
  /* Remove rounding */
}

#generateBoardBtn:disabled {
  color: #525252;
  background-color: #E5F5FF;
  cursor: not-allowed;
}


.on {
  color: #363636;
  background-color: #F0D000; 
}

.off {
  color: #4A4A4A;
  background-color: #D1EDFF;
}

.loading-mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack children vertically */
  text-align: center; /* Center the text horizontally */
  font-size: 20px;
  color: white; /* Specify text color for visibility */
}

.loading-mask img {
  /* Adjust as necessary for your specific GIF */
  max-width: 100px; /* Example size */
  max-height: 100px;
  margin-bottom: 10px;
}