body.dark-mode {
  background-color: #181a1b;
  color: #e8e6e3;
}

body.dark-mode td:hover {
  background-color: rgb(28, 31, 32);
}

body.dark-mode .marked {
  background-color: rgb(86, 47, 0);
}

body.dark-mode .marked:hover {
  background-color: rgb(112, 77, 31)
}

body.dark-mode .marked.bingo {
  background-color: darkgreen;
}

body.dark-mode button,
body.dark-mode td {
  border-color: rgb(140, 130, 115)
}

body.dark-mode button {
  background-color: #181a1b;
  color: #e8e6e3;
}

body.dark-mode .rules-section {
  background-color: #104046;
  border-color: #bbb;
}

/* The Modal (background) */
body.dark-mode .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
body.dark-mode .modal-content {
  background-color: #422e59;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
}

body.dark-mode #generateBoardBtn {
  display: block;
  margin: 20px auto;
  /* Center the button horizontally with top margin for spacing */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #9D0B9D;
  /* Blue */
  color: white;
  border: none;
  outline: none;
  border-radius: 0;
  /* Remove rounding */
}

body.dark-mode #generateBoardBtn:disabled {
  color: #525252;
  background-color: #E5F5FF;
  cursor: not-allowed;
}

/* The Close Button */
body.dark-mode .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

body.dark-mode .close:hover,
body.dark-mode .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body.dark-mode .rounded-button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
}

body.dark-mode .on {
  color: #363636;
  background-color: #F0D000; 
}

body.dark-mode .off {
  color: #4A4A4A;
  background-color: #D1EDFF;
}

body.dark-mode .loading-mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Stack children vertically */
  text-align: center;
  /* Center the text horizontally */
  font-size: 20px;
  color: white;
  /* Specify text color for visibility */
}

body.dark-mode .loading-mask img {
  /* Adjust as necessary for your specific GIF */
  max-width: 100px;
  /* Example size */
  max-height: 100px;
  margin-bottom: 10px;
}